.title{
    margin-left: 50px;
    margin-top: 10px;
  }
  .container{
    background-color: white;
    display: flex;
    border: 1px solid rgb(233, 185, 83);
    box-shadow: 2px 2px 3px rgb(175, 128, 56);
    border-radius: 15px;
    width: auto;
    align-self: center;
    margin: 50px;
  
          table{
            text-align: center;
            align-content: space-evenly;
            margin-bottom: 0;
                th{
                      text-align: center;
                      width: 20px;
                }

                .admin {
                    background-color: rgb(255, 255, 255);
                    color: black;
                    border-color: rgb(177, 177, 177);
                    padding: 4px;
                    padding-right: 20px;
                    padding-left: 20px;
                    border-radius: 25px;
                }
                
                .admin:hover {
                  background-color:  rgb(204, 204, 204);
                  border-color: rgb(155, 155, 155);

                }


                .Noadmin {
                  background-color: rgb(120, 218, 164);
                  color: black;
                  border-color: rgb(82, 245, 122);
                  padding: 4px;
                  padding-right: 20px;
                  padding-left: 20px;
                  border-radius: 25px;
              }
              
              .Noadmin:hover {
                background-color: rgb(81, 190, 130);
              }

                .bloqueo {
                    background-color: rgb(255, 255, 255);
                    color: black;
                    border-color: rgb(177, 177, 177);
                    padding: 4px;
                    padding-right: 20px;
                    padding-left: 20px;
                    border-radius: 25px;
                }
                
                .bloqueo:hover {
                  background-color:  rgb(204, 204, 204);
                  border-color: rgb(155, 155, 155);                
                }
                

                .bloqueado {
                  background-color: rgb(248, 121, 131);
                  color: black;
                  border-color: rgb(197, 87, 96);;
                  padding: 4px;
                  padding-right: 20px;
                  padding-left: 20px;
                  border-radius: 25px;
              }
              
              .bloqueado:hover {
                background-color:  rgb(224, 87, 98);
              }
              

                .reset {
                    background-color: rgb(255, 255, 255);
                    color: black;
                    border-color: rgb(177, 177, 177);
                    padding: 4px;
                    padding-right: 20px;
                    padding-left: 20px;
                    border-radius: 25px;
                }
                
                .reset:hover {
                  background-color:  rgb(204, 204, 204);
                  border-color: rgb(155, 155, 155);                     
                }
                
          }
  }
