.container{
    display: flex;
    flex-direction: column;
    text-align-last: auto;
    margin-top: 2%;
    background-color: white;
    padding: 0.5em;
    width: 30rem;

    @media screen and (max-width: 360px) {
        width: 100%;
    }

    div{
        flex-direction: column;
    }

}
.estrella{
    color: gold
}

