.container{
    background-color: white;
}

.danger {
    color: red;
    
}


.buttonForm{
    background-color: rgb(255, 255, 255);
                    color: black;
                    border-color: rgb(177, 177, 177);
                    padding: 4px;
                    padding-right: 20px;
                    padding-left: 20px;
                    border-radius: 25px;
}

.buttonForm:hover {
    background-color:  rgb(204, 204, 204);
    border-color: rgb(155, 155, 155);

  }

  .buttonFormAdd{
    background-color: rgb(255, 255, 255);

                    border-color: rgb(177, 177, 177);
                    padding: 4px;
                    padding-right: 20px;
                    padding-left: 20px;
                    border-radius: 25px;
}

.buttonFormAdd:hover {
    font-weight: bold;
    background-color: #f5b453;
    border-color: rgb(155, 155, 155);

  }