
.container {
  padding: 5rem;
  display: block;
  border: 1px solid #bdbdbd;
}
  .container2 {
    margin-left: 10%;
    background: white;
    width: 70%;
    padding: 2%;
  }

  .description {
    font-size: 20px;
    width: 90%;
    text-align: justify;
    background-color: white;
  }


  .arrow{
    display: grid;
    justify-items: start;
    background: white;
    box-shadow: 3px 3px 5px rgb(139, 139, 139);
    padding: .5em 2em;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    margin-top: 1em;
  }
.data {
  margin-left: 80px;
  margin-top: 5%;
}

.price {
  font-size: 2em;
}

.quantity{
  margin: 4% 0;

}
.quantityLabel{
  font-size: 1.5em;
}

.quantitySelect {
  padding: 2%;
  margin-left: 3%;
}

.detail {
  margin-top: 3em;
  padding-bottom: 3em;
  display: flex;
  align-self: center;
}

.start{
  display: flex;
}

.image {
  display: grid;
  grid-row-gap: 1em;
  margin-left: 20px;
}

.stars{
color: gold
}

.review{
  padding-top: 2%;
}





