.contenedorGrande{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    
    @media screen and (max-width: 360px) {
        display: block;
    }
    
    .grupo {
        text-align: center;
        display: flex;
        flex-direction: column;
        text-align-last: auto;
        margin: 2rem;
        border: 1px solid #bdbdbd;
        box-shadow: 3px 3px 5px rgb(177, 177, 177);
        background-color: white;
        padding: 1em;
        width: 30em;
        border-radius: 20px;

        @media screen and (max-width: 360px) {
            width: 80%;
            margin: auto;
            margin-top: 10%;
            margin-bottom: 10%;
        }


        .contenedor {
            display: flex;
            justify-content: space-between;
            padding-left: 15px;
            padding-right: 15px;

            .nombre{
                color:rgb(117, 117, 117)
            }
        }

    .botones{
        display: flex;
        justify-content: center;

        .next {
            border-color: transparent;
            background-color: #ffffff;
            color: rgb(255, 172, 62);
            border: 1px solid rgb(255, 172, 62);
            box-shadow: 3px 3px 5px rgb(177, 177, 177);
            width: 40%;
            text-align: center;
            border-radius: 20px;
            height: 48px;
            font-size: 16px;
            font-weight: 600;
            line-height: 48px;
            margin-right: 20px;
            margin-left: 20px;
        }

        .next:hover {
            background-color:  rgb(255, 172, 62);
            border-color:rgb(219, 131, 16); 
            color: rgb(255, 255, 255);
        }


        .volver {
            border-color: transparent;
            background-color: #ffffff;
            color: rgb(255, 172, 62);
            border: 1px solid rgb(255, 172, 62);
            box-shadow: 3px 3px 5px rgb(177, 177, 177);
            width: 40%;
            text-align: center;
            border-radius: 20px;
            height: 48px;
            font-size: 16px;
            font-weight: 600;
            line-height: 48px;
            margin-right: 20px;
            margin-left: 20px;
        }

        .volver:hover {
            background-color:  rgb(255, 172, 62);
            border-color:rgb(219, 131, 16); 
            color: rgb(255, 255, 255);
        }
    }

        .botonML{
            border-color: transparent;
            background-color: #3483fa;
            color: #fff;
            width: 100%;
            text-align: center;
            border-radius: 6px;
            height: 48px;
            font-size: 16px;
            font-weight: 600;
            line-height: 48px;
            padding: 0 24px;
        }

        .botonllenar{
            border-color: transparent;
            background-color: #fafafa;
            border: 1px solid #3483fa;
            color: rgb(134, 134, 134);
            width: 100%;
            text-align: center;
            border-radius: 6px;
            height: 48px;
            font-size: 16px;
            font-weight: 600;
            line-height: 48px;
            padding: 0 24px;
        }

        img {
            width: 100%;
        }

        .total {
            margin-left: 10px;
            margin-right: 10px;
        }

        .productTotal {
            display: flex;
            justify-content: space-between;
            
            .nombreCantidad{
                justify-content: flex-start;
            }
            .precio {
                justify-content: flex-end;
            }
        }
        .sumatotal {
            display: flex;
            justify-content: space-between;
        }
        .subtotalDescuento{
            display: flex;
            justify-content: space-between;
        }
    }
}
