

.danger {
    color: red;
    
}

.btnSend{
    margin-top: 12%;
    border: none;
    background-color: #f5b453;
    color: black;
    border-radius: 25px;
    padding: 4px;
}

.link{
    border: #f5b453;
    text-decoration: none;
    background-color: #f5b453;
    color: black;
    border-radius: 25px;
    padding: 4px;
}
     

    