.contenedor{
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    flex-direction: row;
    margin-top: 2rem;
    border-top: 1px solid rgb(202, 202, 202);
    border-left: 1px solid rgb(202, 202, 202);
    box-shadow: 7px 7px 5px rgb(202, 202, 202);
    margin-left: 56%;

    @media screen and (max-width: 360px) {
        max-width: 250px;
    }

    button {
        border: none;
        color: black;
        padding: 1% 2%;
        border-radius: 10px;
        width: 300px;

        @media screen and (max-width: 360px) {
            width: 100%;
        }

    }
    button:hover {
        background-color: rgb(225, 230, 230);
        border-color: rgb(155, 155, 155);
    }


    .juntar {
        display: flex;
        justify-content: space-between;
    }

}


